.tableinventary{
    color:blue;
    margin-top: 30px;
    border: green 2px solid; 
}
.title{
    text-align: center;
    margin-top:20px;
}
.h4{
    text-align: center;
  
}
.table{
    margin: 20px; ;
}
.hola{
    margin-top: 80px;
    color:blueviolet;
    text-align:center;
}
.cantidad{

    padding: 5px;
    margin: 20px;
    background-color: lightpink;
    height: 40px;

}
.product{
    background-color: lightblue;
}
.color,.card{
    background-color: rgb(247, 142, 207);
    margin:20px;
}
.comentarios{
    background-color: rgb(243, 120, 216);
    margin:20px;

}